<div class="page-sidebar">
    <!-- Site header  -->
    <header class="site-header">
        <div class="site-logo">
        <a href="index.html">
            @*<img src="images/logo.png" alt="Mouldifi" title="Go to Dashboard">*@
            ease-POS
             </a>
        </div>
        <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
        <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
    </header>
    <!-- /site header -->
    <!-- Main navigation -->
    <ul id="side-nav" class="main-menu navbar-collapse collapse">
        <li class="sidebar-link" id="link-dashboard">
            <a href="/Home"><i class="icon-gauge"></i><span class="title">Dashboard</span></a>
        </li>
        <li class="sidebar-link" id="link-supplier">
            <a href="/Supplier"><i class="icon-suitcase"></i><span class="title">Supplier</span></a>
        </li>
        <li class="sidebar-link" id="link-purchase">
            <a href="/Purchase"><i class="icon-basket"></i><span class="title">Purchase</span></a>
        </li>
        <li class="sidebar-link" id="link-product">
            <a href="/Product"><i class="glyphicon glyphicon-home"></i><span class="title">Inventory</span></a>
        </li>
    </ul>
    <!-- /main navigation -->
</div>